---
// filepath: /C:/Users/Adeeb/OneDrive - K L University/Desktop/astrotravel/travel/src/pages/index.astro
import Carousel from '../components/Carousel.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import OurPackages from '../components/OurPackages.astro';
import TravellerReview from '../components/TravellerReview.astro';
import OurPartner from '../components/OurPartner.astro';
import JoinUs from '../components/JoinUs.astro';
const title: string = "Travel Platform - Online Travel Agency";
---
<head>
  <title>{title}</title>
  <meta property="og:title" content="Travel Platform - Online Travel Agency" />
  <meta property="og:description" content="Travel Platform - Online travel agency and B2B travel booking platform. Book flights, hotels, and packages at competitive prices." />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Travel Platform",
      "url": "https://b2b.travelplatformonline.com",
      "logo": "https://b2b.travelplatformonline.com/src/assets/logo.png",
      "sameAs": [
        "https://www.facebook.com/travelplatform",
        "https://www.twitter.com/travelplatform",
        "https://www.instagram.com/travelplatform"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+1-800-555-5555",
        "contactType": "Customer Service"
      }
    }
  </script>
</head>


<Layout title={title}>
  <Carousel />
  <Header />
  <Services />
  <OurPackages />
  <TravellerReview />
  <OurPartner />
  <JoinUs />
</Layout>